<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body style="font-family: Arial; background: #222; color: white; text-align: center; padding: 50px;">
    <h2>Teacher Login</h2>
    <form method="POST">
        <input name="username" placeholder="Username"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p style="color:red;">{{ messages[0] }}</p>
      {% endif %}
    {% endwith %}
</body>
</html>

